body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: white;
}
.mainDiv{
    display: flex;
    justify-content: space-between;
}
div{
    width: 400px;
    margin-top: 50px;
    border-style: groove;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
